<!DOCTYPE html>
<html>
<head>
  <title>Payphones</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "bootstrap-responsive.css", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
