<!DOCTYPE html>
<html>
<head>
  <title>Payphones</title>
  	<%= google_webfonts_link_tag "Maven_Pro" => [400, 500, 700, 900]%>		
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
